<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jadwal.shalat.neo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--memasukan elemen Activity dengan atribut configChanges dan theme-->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name=".AlarmServiceImsak"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiverImsak" >
        </receiver>
        <service
            android:name=".AlarmServiceSubuh"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiverSubuh" >
        </receiver>
        <service
            android:name=".AlarmServiceDjuhur"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiverDjuhur" >
        </receiver>
        <service
            android:name=".AlarmServiceAshar"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiverAshar" >
        </receiver>
        <service
            android:name=".AlarmServiceMaghrib"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiverMaghrib" >
        </receiver>
        <service
            android:name=".AlarmServiceIsya"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiverIsya" >
        </receiver>

    </application>

</manifest>